{
    "arrowParens": "avoid",
    "semi": false,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "tabWidth": 2,
    "tabSize": 2,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 80,
    "jsxSingleQuote": false
}